{% extends 'baseUsuarios.html' %}
{% load material_form %} 
{% block content %}
  {% if validlink %}
    <h3>Cambiar contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {% form form=form %}{% endform %}
      <button class="btnIngresar" type="submit">Cambiar contraseña</button>
    </form>
  {% else %}
    <p>
      El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se utilizó.
      Solicite un nuevo restablecimiento de contraseña.
    </p>
  {% endif %}
{% endblock %}